/* Universal selector (all elements). */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Wrap document in a flex container. */
.wrapper {
  display: flex;  
  flex-flow: column wrap;
  /* color: white;     */
}

/* Targets direct children of .wrapper */
.wrapper > * {
  padding: 10px;
  /* flex: 1 100%; */
}

body {
  padding: 2em; 
}

#page-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  outline: 1px solid black;
  min-height: 20%;
  max-height: 55px;
}

/* Section flex container */
.section {
  color: black;
  display: flex;
  /* padding: 0; */
}

/* Section subclasses */
.section .rt-img {
  /* flex-wrap: wrap; */
  border: 2px solid orange;
}

.section .regular {
  display: flex;
  /* flex: 1;  */
  /* Expand to fill page width */
  border: 2px solid orange;
  /* flex-wrap: nowrap; */
  /* flex-direction: column;  */
}

.section .content {
  display: flex;
  flex-direction: column;
  flex: 1;
  outline: 1px solid black;
  
}

.section .title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  background-color: rgb(137, 192, 255);
  text-align: left;
  padding: 5px;
  outline: 1px solid black;
}

/* Section description */
.section .descr {
  /* flex: 1; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 5px;
  /* vertical-align: middle; */
  /* align-items: center; */
}

/* Section image */
.section .img {
  /* padding: 0;
  margin: 0; */
  outline: 1px solid black;
}

/* Table Settings */
.section .table {
  margin: 0px auto; /* Horizontal center (L&R margins: auto) */
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
table {
  margin: 10px;
}
th {
  text-align: left;
}
tr:nth-child(odd) {
  background-color:rgb(183, 147, 255);
}
tr:nth-child(even) {
  background-color: rgb(137, 192, 255);
}

/* Form Settings */
.section .form {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
  padding: 6px;
}
.section .form label { text-align: right; }
.section .form label:after { content: ":" }
.section .form input[type=submit] { 
  padding: 4px;
  color: purple;
  font-weight: bold;
  width: auto;
} 